@{
    ViewBag.Title = "IndexW";
}

<h2>Traffic Warden</h2>

<div class="row" style="width:900px; margin:0 auto;">
    <div class="col-lg-4">
        <img src="~/img/slider.jpg" style="max-height:200px; max-width:200px; margin-top:10px;" />
    </div>
    <div class="col-lg-6 ">
        <h3>Name: <span>Blah Blah Blah</span></h3>
        <h3>Username: <span>Blah Blah Blah</span></h3>
        <h3>CNIC: <span>Blah Blah Blah</span></h3>
        <h3>Place of Duty: <span>Blah Blah Blah</span></h3>
    </div>
</div>

