@{
    ViewBag.Title = "ConfirmAccount";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Congratulations!
        You account has been verified by NADRA.
        @*@Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
    </p>
    <p>
        Your username is: 
        Your password is: 
    </p>
</div>
